* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

/* CONATINER rules */

[class^="container"] {
    margin: 0 auto;
}

.container-xl {
    width: 100%;
}

.container {
    width: 1200px;
}

.container-sm {
    width: 1000px;
}

/* FLEX rules */

.row {
    display: flex;
    flex-wrap: wrap;
}

.sp-between {
    justify-content: space-between;
}

.gap {
    gap: 35px;
}

.centered {
    align-items: center;
}

/* HEADER */

.top-bar {
    padding: 25px;
    background-color: white;
}

/* BUTTON */

.button {
    padding: 10px;
    text-decoration: none;
}

.button.blue {
    background-color: #0060ff;
    color: white;
}

/* DEBUG */

.debug [class*="container"] {
    border: 1px solid black;
}
