* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

main img {
    width: 100%;
}



/* CONATINER and SECTION rules */

.container-xl, .container, .container-sm, .container-card {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.container {
    width: 1250px;
}

.container-sm {
    width: 1050px;
}

.container-card {
    width: 1100px;
}

[class*="container"] + [class*="container"] {
    margin-top: 50px;
}

section.lightblue {
    background-color: #b4d0e7;
}

section {
    padding: 75px 0;
}



/* FLEX rules */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.sp-between {
    justify-content: space-between;
}

.gap-xl {
    gap: 50px;
}

.gap {
    gap: 35px;
}

.gap-sm {
    gap: 20px;
}

.centered {
    align-items: center;
}

.start {
    justify-content: flex-start;
}

.stretch {
    align-items: stretch;
}



/* TITLES rules */

h1 {
    font-size: 85px;
}

h2 {
    font-size: 43px;
}

h3 {
    font-size: 25px;
}



/* COL rules */

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}



/* HEADER */

.top-bar {
    padding: 25px 20px;
    background-color: white;
}



/* BUTTON */

[class*="button"] {
    text-align: center;
}

.button {
    padding: 15px 20px;
}

.button-sm {
    padding: 10px 15px;
}

.blue {
    background-color: #0060ff;
    color: white;
}

.adapt {
    width: 100%;
}



/* FOOTER */

footer {
    background-color: black;
    color: white;
}

footer .container:first-child {
    padding: 100px 0;
}

footer .container:last-child {

}

footer .row.col {
    gap: 20px;
}

footer h3 {
    margin-bottom: 35px;
}

footer select {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: gray;
    margin: 0 5px;
}

.language {
    border-top: 1px solid gray;
    padding: 50px 0;
}



/* MAIN hero */

.fa-arrow-down {
    font-size: 43px;
    margin-top: auto;
}



/* MAIN plan cards */

[class^="box-card"] {
    padding: 25px;
}

.box-card-v {
    display: flex;
}

.box-card-o {

}

.card {
    border: 1px solid gray;
}

.card-head {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    line-height: 38px;
}

.card-content {
    padding: 34px;
    font-size: 12px;
}

.list-row {
    display: flex;
    gap: 5px;
}

.list-row i {
    padding-top: 2px;
}

.text-link {
    text-decoration: underline;
    color: #0060ff;
}

.division-line {
    border: 0.5px solid gray;
    width: 40px;
}

.fa-check {
    color: #0060ff;
    font-size: 15px;
}

.row.button.blue {
    flex: auto;
    justify-content: center;
    margin-bottom: auto;
}