* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}



/* CONATINER rules */

.container-xl, .container, .container-sm {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1200px;
}

.container-sm {
    width: 1000px;
}

[class*="container"] + [class*="container"] {
    margin-top: 50px;
}




/* FLEX rules */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.sp-between {
    justify-content: space-between;
}

.gap {
    gap: 40px;
}

.centered {
    align-items: center;
}

.start {
    justify-content: flex-start;
}



/* TITLES rules */

h3 {
    font-size: 25px;
}



/* COL rules */

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}



/* HEADER */

.top-bar {
    padding: 25px 20px;
    background-color: white;
}



/* BUTTON */

[class*="button"] {
    text-align: center;
    padding: 0 15px;
}

.button {
    line-height: 44px;
}

.button-sm {
    line-height: 35px;
}

.button-sm.blue {
    background-color: #0060ff;
    color: white;
}



/* FOOTER */

footer {
    background-color: black;
    color: white;
}

footer .container:first-child {
    padding: 100px 0;
}

footer .container:last-child {

}

footer .row.col {
    gap: 20px;
}

footer h3 {
    margin-bottom: 35px;
}

footer select {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: gray;
    margin: 0 5px;
}

.language {
    border-top: 1px solid gray;
    padding: 50px 0;
}






/* DEBUG */

.debug [class*="container"] {
    border: 1px solid black;
}
